user=your_user
password=your_password
host=your_host
port=5432
dbname=your_dbname
PAYSTACK_SECRET_KEY=Sk_test_470a86bef62c19f6e1f9277733636052b2185537
PAYSTACK_PUBLIC_KEY=Pk_test_2512a04e87f35514cd45697010dc1396c962157e
PAYSTACK_WEBHOOK_SECRET=sk_test_xxx
PAYSTACK_ALLOWED_CURRENCIES=NGN,USD,GHS,ZAR,KES
APP_BASE_URL=http://localhost:5173
PAYMENT_SUCCESS_TOKEN_SECRET=change-me
